@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@500;800&display=swap");

/* - Very Dark Grayish Blue: hsl(217, 19%, 35%)
- Desaturated Dark Blue: hsl(214, 17%, 51%)
- Grayish Blue: hsl(212, 23%, 69%)
- Light Grayish Blue: hsl(210, 46%, 95%) */

:root {
  --primary-font: "Manrope", sans-serif;
  --medium-weight: 500;
  --extrabold-weight: 800;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

h1 {
  font-weight: var(--extrabold-weight);
}

p {
  font-size: 13px;
  font-weight: var(--medium-weight);
}
